.alert {
  color: white;
  border-radius: 10px;
  position: absolute;
  top: 50px;
  left: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  z-index: 1111;
}
.alert p {
  margin: 0;
}
.alert-error {
  background: lightcoral;
}
.alert-success {
  background: lightgreen;
}
.close {
  color: white;
  cursor: pointer;
  margin-right: 10px;
}
